# Build output
bin/
obj/
publish/
artifacts/

# IDE / editor
.vs/
.idea/
*.user
*.suo
*.userprefs
.vscode/

# Runtime / local
.env
NoSub.txt
config.json
TODO - PIPLINE TO AUTOBUILD.txt

# OS
Thumbs.db
desktop.ini
.DS_Store
